{% extends "Layout/layout-default.html.twig" %}
{% block title %}{{ 'admin_panel'|trans }}{% endblock %}
{% block main %}
    {% if user is not null %}
        {{ render(controller('App\\Controller\\BlockController::userAdminCover',{ 'id': user.id })) }}
    {% endif %}
    <div class="uk-section uk-section-xsmall">
        <div class="uk-container uk-container-xsmall">
            <div class="uk-text-center uk-margin">
                {{ 'admin_panel'|trans }} |
                <img src="{{ asset('/images/charts_icon.jpg')}}" width="17px">
                <a href="{{ path('admin_highcharts') }}">{{ 'schedule'| trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}
