{% extends "Layout/layout-default.html.twig" %}
{% block main %}
    {% if user is not null %}
        {{ render(controller('App\\Controller\\BlockController::userAdminCover')) }}
    {% endif %}
    {{ include('Admin/Block/link.html.twig') }}
    <div class="uk-section uk-section-xsmall">
        <div class="uk-container uk-container-xsmall">
            <div uk-grid class="uk-grid-small uk-text-small">
                <div class="item">
                    <span uk-icon="icon: users"></span>
                    <i>{{ render(controller('App\\Controller\\Admin\\UserAdminController::getAdminCountAllUsers')) }}</i>
                    {{ 'registered_users'|trans }}
                </div>
                <div class="item">
                    <span uk-icon="icon: ban"></span>
                    <i><a href="#">0</a></i> {{ 'ban_users'|trans }}
                </div>
            </div>
            {% for user in users %}
                <div class="uk-card uk-card-default uk-card-small uk-margin-small">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img data-src="{{ user.avatar|avatarStyleDefault }}" width="40" height="40" alt uk-img>
                            </div>
                            <div class="uk-width-expand">
                                <div>
                                    <a class="uk-text-small uk-text-muted"
                                       href="{{ path('user_canonical', {'id': user.id}) }}">
                                        {{ user.fullname }}
                                    </a>
                                </div>
                                <p class="uk-text-meta uk-margin-remove-top"><time datetime="{{ user.created|date('Y-m-d H:i:s') }}">{{ user.created|date('M d, Y') }}</time></p>
                            </div>
                            {{ include('Admin/User/menu.html.twig', { 'user' : user }) }}
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if users|length != 0 %}
                {{ include('Pagination/kpn_pagination.html.twig', {'field' : users}) }}
            {% endif %}
        </div>
    </div>
{% endblock %}
