<li>
    <div class="us-prof-header">
        <span uk-icon="icon: chevron-down"></span>
    </div>
    <div uk-drop="mode: click; offset: 20; pos: bottom-right" class="uk-card uk-card-default kuk-width-small">
        <nav class="uk-padding-small">
            <ul class="uk-nav uk-list-divider uk-text-small">
                <li><a href="{{ path('admin_svist_block',{'id': svistyn.id}) }}"><span uk-icon="icon: ban" class="uk-margin-small-right"></span>
                        {% if (svistyn.status == 1) %}
                            {{ 'ban'|trans }}
                        {% else %}
                            {{ 'unblocked'|trans }}
                        {% endif %}
                    </a></li>
                <li><a href="{{ path('admin_svistyn_delete',{'id': svistyn.id}) }}"><span uk-icon="icon: trash" class="uk-margin-small-right"></span> {{ 'delete'|trans }}</a></li>
            </ul>
        </nav>
    </div>
</li>
