{% extends "Layout/layout-default.html.twig" %}
{% block main %}
    <div class="uk-container uk-container-xsmall" xmlns="http://www.w3.org/1999/html">
        <div class="uk-section uk-padding uk-background-default kuk-shadow">
            {{ form_start(form) }}
            {{ form_row(form.text) }}
            {% if (svistyn.parent == false) %}
                {{ form_row(form.embed) }}
                {% if svistyn.embedVideo is not null %}
                    <div class="st-post-fd st-post-fd--embed">{{ svistyn.embedVideo|video_embed_iframe }}</div><br>
                {% endif %}
                {{ form_row(form.photo) }}
                {% if svistyn.photo is not null %}
                    <div class="st-post-fd st-post-fd--photo uk-text-center"><img data-src="{{ svistyn.photo|style_image('550w') }}" alt uk-img></div>
                {% endif %}
             {% else%}
                 {{ include('Svistyn/ModeView/share.html.twig', {'svistyn.parent': svistyn.parent } ) }}
            {% endif %}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
