{% extends "Layout/layout-default.html.twig" %}

{% block title %}{% if user is not null %}{{ user.fullname }}{% endif %}{% endblock %}

{% block main %}
  {% if user is not null %}
    {{ render(controller('App\\Controller\\BlockController::userCover',{ 'id': user.id })) }}
  {% endif %}
  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
      {% if app.user == user  %}
          <div class="uk-text-center uk-margin">
              <a href="{{ path('svistyn_add') }}" class="uk-button uk-button-default" style="margin-right: 5px;"><i class="fa fa-plus-square-o"></i>{{ 'add'|trans }}</a>
          </div>
        {% else  %}
            <div class="uk-text-center uk-margin">
                <a href="{{ path('friend_add', {'id_user': this_user.id, 'id_friend': user.id }) }}" class="uk-button uk-button-default" style="margin-right: 5px;">
                    <i class="fa fa-plus-square-o"></i>
                    {{ render(controller('App\\Controller\\FriendsController::status', {'id_user': this_user.id, 'id_friend': user.id})) }}
                </a>
            </div>
        {% endif %}
  {% endif %}
  <div class="uk-section uk-section-xsmall">
    <div class="uk-container uk-container-xsmall">
      {% for post in posts %}
        {{ include('Svistyn/ModeView/full.html.twig', { 'svistyn' : post }) }}
      {% endfor %}
      {{ include('Pagination/pagination.html.twig', {'pagination' : pagination}) }}
    </div>
  </div>
{% endblock %}
