{% extends "Layout/layout-default.html.twig" %}

{% block title %}{{ 'share_svist'|trans }}{% endblock %}

{% block main %}
<div class="uk-section uk-section-xsmall">
  <div class="uk-container uk-container-xsmall">
    <div class="center">{{ 'share_svist'|trans }}</div>
    {{ form_start(form) }}
    {{ form_row(form.text) }}
      {{ include('Svistyn/ModeView/share.html.twig', {'svistyn.parent': svistyn.parent } ) }}
    {{ form_end(form) }}
  </div>
</div>
{% endblock %}
