{% for comment in comments %}
    <div class="uk-card uk-card-default uk-card-small uk-margin-small">
        <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                    <img data-src="{{ comment.user.avatar|avatarStyleDefault }}" width="40" height="40" alt uk-img>
                </div>
                <div class="uk-width-expand">
                    <div><a class="uk-text-small uk-text-muted" href="{{ path('user_canonical', { 'id' : comment.user.id }) }}">{{ comment.user.fullname }}</a></div>
                    <p class="uk-text-meta uk-margin-remove-top"><time datetime="{{ comment.createdAt|date('Y-m-d H:i:s') }}">{{ comment.createdAt|date('M d, Y') }}</time></p>
                </div>
                {% if app.user %}
                    <li>
                        <div class="us-prof-header">
                            <span uk-icon="icon: chevron-down"></span>
                        </div>
                        <div uk-drop="mode: click; offset: 20; pos: bottom-right" class="uk-card uk-card-default kuk-width-small">
                            <nav class="uk-padding-small">
                                <ul class="uk-nav uk-list-divider uk-text-small">
                                    <li><a href="#"><span uk-icon="icon: ban" class="uk-margin-small-right"></span> {{ 'ban'|trans }}</a></li>
                                    <li><a href="#"><span uk-icon="icon: trash" class="uk-margin-small-right"></span> {{ 'delete'|trans }}</a></li>
                                </ul>
                            </nav>
                        </div>
                    </li>
                {% endif %}
            </div>
        </div>
        <div class="uk-card uk-card-body">
            <div class="st-post-fd st-post-fd--text">
                <p>{{ comment.comment|nl2br  }}</p>
            </div>
        </div>
    </div>
{% endfor %}
