<div uk-grid class="uk-grid-small uk-text-small">
  <div class="item"><i>{{ svistyn.countSvists }}</i> {{ 'svistnuti'|trans }}</div>
  <div class="item"><i>{{ svistyn.countZvizds }}</i> {{ 'zvizdnuti'|trans }}</div>
  <div class="item"><i>{{ svistyn.ratingTotal }}</i> {{ 'rating_svist'|trans }}</div>
</div>
