<div uk-grid class="uk-grid-small uk-text-small">
  <div class="item">
    <span uk-icon="icon: forward"></span>
    <i>{{ svistyn.countSvists }}</i>
      {{ 'svistnuti'|trans }}
  </div>
  <div class="item">
    <img src="{{ asset('/images/zvizdnyt.png')}}">
    <i>{{ svistyn.countZvizds }}</i>
      {{ 'zvizdnuti'|trans }}
  </div>
  <div class="item">
    <span uk-icon="icon: heart"></span>
    <i>{{ svistyn.ratingTotal }}</i>
      {{ 'rating_svist'|trans }}
  </div>
  <div class="item">
    <span uk-icon="icon: comments"></span>
    <i>0</i>
      {{ 'comments'|trans }}
  </div>
</div>
