<div class="item"><i>{{ svistyn.countSvists }}</i> <a href="{{ path('svistyn_share', { 'id' : svistyn.id , 'state' : 1}) }}">{{ 'svistnuti'|trans }}</a></div>
<div class="item"><i>{{ svistyn.countZvizds }}</i> <a href="{{ path('svistyn_share', { 'id' : svistyn.id , 'state' : 2}) }}">{{ 'zvizdnuti'|trans }}</a></div>
<div class="item"><i>{{ svistyn.ratingTotal }}</i> {{ 'rating_svist'|trans }}</div>