<div class="uk-card uk-card-default uk-card-small uk-margin-small">
    <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
                <img data-src="{{ follower.avatar|avatarStyleDefault }}" width="40" height="40" alt uk-img>
            </div>
            <div class="uk-width-expand">
                <div>
                    <a class="uk-text-small uk-text-muted"
                       href="{{ path('user_canonical', {'id': follower.id}) }}">
                        {{ follower.fullname }}
                    </a>
                </div>
                <p class="uk-text-meta uk-margin-remove-top"><time datetime="{{ follower.created|date('Y-m-d H:i:s') }}">{{ follower.created|date('M d, Y') }}</time></p>
            </div>
        </div>
    </div>
</div>
