{% extends "Layout/layout-default.html.twig" %}
{% block title %}{{ 'comments_list'|trans }}{% endblock %}
{% block main %}
    {% if user is not null %}
        {{ render(controller('App\\Controller\\BlockController::userAdminCover')) }}
    {% endif %}
    {{ include('Admin/Block/link.html.twig') }}
    <div class="uk-section uk-section-xsmall">
        <div class="uk-container uk-container-xsmall">
            <div uk-grid class="uk-grid-small uk-text-small">
                <div class="item">
                    <span uk-icon="icon: comments"></span>
                    <i><a href="{{ path('admin_comments_list') }}">
                            {{ render(controller('App\\Controller\\Admin\\UserAdminController::getAdminCountAllComments')) }}</a></i>
                    {{ 'comments'|trans }}
                </div>
                <div class="item">
                    <span uk-icon="icon: ban"></span>
                    <i>
                        <a href="{{ path('admin_comments_list_block') }}">
                            {{ render(controller('App\\Controller\\Admin\\CommentAdminController::getAdminCountBlockComments')) }}
                        </a>
                    </i> {{ 'ban_comments'|trans }}
                </div>
                <div class="item">
                    <span uk-icon="icon: push"></span>
                    {{ 'export'|trans }}
                    <a href="{{ path('admin_comments_export_xlsx') }}">Xlsx</a>
                    <a href="{{ path('admin_comments_export_csv') }}">CSV</a>
                </div>
                <div class="item">
                    <span uk-icon="icon: pull"></span>
                    {{ 'import'|trans }}
                    <a href="{{ path('admin_comments_import_xlsx') }}">Xlsx</a>
                    <a href="#">CSV</a>
                </div>
            </div><br>
            <div class="center">
                {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button class="uk-button uk-button-default uk-margin-small-right" type="submit">
                        {{ 'import'|trans }}
                    </button>
                {{ form_start(form) }}
            </div>
        </div>
    </div>
{% endblock %}
