{% extends "Layout/layout-default.html.twig" %}
{% block main %}
    {% if user is not null %}
        {{ render(controller('App\\Controller\\BlockController::userAdminCover')) }}
    {% endif %}
    {{ include('Admin/Block/link.html.twig') }}
    <div class="uk-section uk-section-xsmall">
        <div class="uk-container uk-container-xsmall">
            <div uk-grid class="uk-grid-small uk-text-small">
                <div class="item">
                    <span uk-icon="icon: comments"></span>
                    <i>{{ render(controller('App\\Controller\\Admin\\UserAdminController::getAdminCountAllComments')) }}</i>
                    {{ 'comments'|trans }}
                </div>
                <div class="item">
                    <span uk-icon="icon: ban"></span>
                    <i><a href="#">0</a></i> {{ 'ban_comments'|trans }}
                </div>
            </div>
            {% for comment in comments %}
                {{ include('Admin/Comment/ModeView/full.html.twig', { 'comment' : comment }) }}
            {% endfor %}
            {% if comments|length != 0 %}
                {{ include('Pagination/kpn_pagination.html.twig', {'field' : comments}) }}
            {% endif %}
        </div>
    </div>
{% endblock %}
