{% extends "Layout/layout-default.html.twig" %}
{% block main %}
    <div class="uk-section uk-section-xsmall">
        <div class="uk-container uk-container-xsmall">
            {% for request in GroupUsersRequests %}
                {{ include('Group/ModeView/full_users_list_request.html.twig') }}
                <p uk-margin class="center">
                    <a href="{{ path('group_add_follower',{'id':request.user.id, 'slug':groupUsers.slug, 'status': 'accept'}) }}" style="text-decoration: none">
                        <button class="uk-button uk-button-default">{{ 'accept'|trans }}</button>
                    </a>
                    <a href="{{ path('group_add_follower',{'id':request.user.id, 'slug':groupUsers.slug, 'status': 'canceled'}) }}" style="text-decoration: none">
                        <button class="uk-button uk-button-danger">{{ 'cancel'|trans }}</button>
                    </a>
                </p>
            {% else %}
                <p uk-margin class="center">{{ 'no_new_applications'|trans }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}

