{% extends "System/page.html.twig" %}
{% block page %}
  <header class="header uk-section uk-section-xsmall uk-background-default uk-margin-small-bottom" id="header">
    <div class="uk-container">
      <div uk-grid>
        <div class="uk-width-auto uk-flex-1">
          {{ include('System/logo.html.twig' ) }}
          {{ include('Form/search.html.twig' ) }}
        </div>
        <nav>
          <ul class="uk-nav uk-text-small" uk-grid>
            {% if app.user %}
              <a href="{{ path('user_messages_list') }}" style="text-decoration: none; color: #777777;">
                <img src="{{ asset('images/message_header_icon.jpg') }}" width="30px" class="uk-margin-small-right">
                  {{ render(controller('App\\Controller\\MessageController::getCountAllNotReadMessages')) }}
              </a>
              <li>
                {#<a href="{{ path('user_canonical', { 'id' : app.user.id }) }}" class="user-profile dropdown-toggle">#}
                <div class="us-prof-header">
                  <img src="{{ app.user.avatar|avatarStyleDefault }}" width="30px" class="uk-margin-small-right">
                  {{ app.user.fullname }}<span uk-icon="icon: triangle-down"></span>
                </div>
                {#</a>#}
                <div uk-drop="mode: click; offset: 20; pos: bottom-right" class="uk-card uk-card-default kuk-width-small">
                  <nav class="uk-padding-small">
                    <ul class="uk-nav uk-list-divider uk-text-small">
                      <li>
                        <a href="{{ path('svistyn_post') }}"><span uk-icon="home" class="uk-margin-small-right"></span> {{ 'home_page'|trans }}</a>
                      </li>
                      <li>
                        <a href="{{ path('user_canonical') }}"><span uk-icon="user" class="uk-margin-small-right"></span> {{ 'profile'|trans }}</a>
                      </li>
                      <li>
                        <a href="{{ path('user_messages_list') }}"><span uk-icon="mail" class="uk-margin-small-right"></span> {{ 'messages'|trans }}</a>
                      </li>
                        {% if is_granted("ROLE_SUPER_ADMIN") %}
                          <li>
                            <a href="{{ path('admin_dashboard') }}"><span uk-icon="settings" class="uk-margin-small-right"></span> {{ 'admin_panel'|trans }}</a>
                          </li>
                        {% endif %}
                      <li>
                        <a href="{{ path('svistyn_feed_following') }}"><span uk-icon="twitter" class="uk-margin-small-right"></span> {{ 'feed'|trans }}</a>
                      </li>
                      <li>
                        <a href="{{ path('search') }}"><span uk-icon="search" class="uk-margin-small-right"></span> {{ 'search'|trans }}</a>
                      </li>
                      <li>
                        <a href="{{ path('app_logout') }}"><span uk-icon="sign-out" class="uk-margin-small-right"></span> {{ 'log_out'|trans }}</a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </li>
            {% else %}
              <li><a href="{{ path('app_login') }}">{{ 'login'|trans }}</a></li>
              <li><a href="{{ path('app_registration') }}">{{ 'sign_up'|trans }}</a></li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <div class="main{% block main_attr %}{% endblock %}">{% block main %}{% endblock %}</div>
  <footer class="">
    <div class="uk-background-default">
      <div class="copyright uk-text-center uk-text-small uk-padding-small">{{ include('System/copyright.html.twig') }}</div>
    </div>
  </footer>
{% endblock %}

