{% extends "Layout/layout-default.html.twig" %}
{% block main %}
    <div class="uk-section uk-section-xsmall">
        <div class="uk-container uk-container-xsmall">
            <div class="uk-card uk-card-default uk-card-small uk-margin-small">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img data-src="{{ user.avatar|avatarStyleDefault }}" width="40" height="40" alt uk-img>
                        </div>
                        <div class="uk-width-expand">
                            <div>
                                <a class="uk-text-small uk-text-muted"
                                   href="{{ path('user_canonical', {'id': user.id}) }}">
                                    {{ user.fullname }}
                                </a>
                            </div>
                            <p class="uk-text-meta uk-margin-remove-top"><time datetime="{{ user.created|date('Y-m-d H:i:s') }}">{{ user.created|date('M d, Y') }}</time></p>
                        </div>
                    </div>
                </div>
                <div class="uk-card uk-card-body">
                    <div class="st-post-fd st-post-fd--text">
                        <p>За порушення правил користування сайтом користувач {{ user.fullname }} тимчасово заблокований!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
